.about{
    
    color: #003048;
}
.about h2{
    font-size: 100px;
    line-height: 120px;
    text-align: left;
    margin: 30px 0px;
}
.about .playbook-container{
    padding: 0px 11vw;
}
.journey{
    justify-content: space-around;
    align-items: flex-end;

}
.journey h2{
    width: 50vw;
align-self: flex-start;
line-height: 100px;
}
.journey p{
    font-weight:400;
    align-self: flex-end;
    font-size: 1.2rem;
    line-height: 26px;
    width: 50vw;
}
.simple{
    justify-content: space-around;
}
.simple h2,
.simple p{
    width: 55vw;
    align-self: flex-start;
}
.simple p{
    margin: 20px 0px ;
    font-size: 1.2rem;
}
.Spearheading  h2{
    width: 70vw;
    align-self: center;
}
.Spearheading p{
    align-self: flex-end;
    width: 53vw;
    font-size: 1.5rem;
}
@media only screen and (min-width: 1400px){
    .about{
        padding: 20px 0px 80px;
    }
    .journey{
        height: 55vh;
    }
    .about     .playbook-steps{
        padding: 0px 12vw;
    }
    .about .simple p,
    .about .journey p{
        font-size: 24px;
    }
    .about .Spearheading  h2{
        width: 50vw;
    }
    .about .cont-u{
        padding: 30px 0px;
    }
}